// .rbc-event {
//     height: 50px;
// }

// .rbc-event-content {
//     white-space: normal !important;
// }

.rbc-row-segment, .rbc-event {
    outline: none !important;

    &:active, &:focus {
        outline: none !important;
    }
}

.calendarContainer {
    background: #fff;
}

.assignment-detail {
    .header {
      display: flex !important;
      justify-content: space-between;
  
      .close-icn {
        &:hover {
          cursor: pointer;
        }
      }
      .archive{
        cursor: pointer;
      }
    }
  
    .content {
  
      .dropdown {
        .menu {
          left: 0 !important;
        }
      }
  
      textarea {
        resize: none;
      }
  
      .detail {
        display: block;
        margin: 0 0 .28571429rem 0;
        color: rgba(0,0,0,.87);
        font-size: .92857143em;
        font-weight: 700;
        text-transform: none;
      }
  
      .react-datepicker-wrapper {
        width: 100%;
      }
    }
  
  }
  