.tableContainer{
    background-color:#fff;
    padding:15px;
    width:auto;
} 
.ui.basic.table{
    text-align: center;
    padding:5px;
    //background-color:#FFF6F6;
    //border: 15px solid #FFF6F6;
}
.markField {
    padding: 5px 10px 5px 10px;
}

.ui.dropdown .menu{
    left: 0px !important;
}