.notFond{
    text-align: center;
    display: block;
    align-items: center;
    padding-top: 50px;
    color: #607D8B;
    //color: #bbbbbb;

    h1{font-size: 150px;}
    h3{font-size: 40px;}
    p{font-size: 18px;}
}