.file-container {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 5px;

  .file {
    display: flex;
    align-content: center;
    align-items: center;

    .file-preview {
      width: 45px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: green;
      border-radius: 5px;
  
      span {
        text-transform: uppercase;
        color: white;
        font-size: 10px;
      }
  
      &.pdf {
        background-color: red;
      }
  
      &.doc, &.docx {
        background-color: blue;
      }
    }

    .file-name {
      margin-left: 5px;
    }
  }

  .buttons {
    z-index: initial;
    margin-top: 5px;
    margin-left: 5px;
  }
}
