.rbc-event {
    height: 75px;
}

.rbc-event-content {
    white-space: normal !important;
}

.rbc-row-segment, .rbc-event {
    outline: none !important;

    &:active, &:focus {
        outline: none !important;
    }
}

.calendarContainer {
    background: #fff;
}