.item.myListItem{
    background-color: #fff;
    padding:17px!important;
    height: 70px;
    border:1px solid #c5c5c5;
    border-left:5px solid #008272;
    margin-bottom:10px;
    font-size:16px;
}
.item.myListItem:hover{
    background-color: #E3EBEE;
    border:0;
    
    border-left:5px solid #008272;
}