.cardContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background:before{
    content: '';
    position:fixed;
    width:100vw;
    height:100vh;    
    background: url(../../assets/images/blurAbstr2.jpg) no-repeat top center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-size: cover;
}