.deleteIcon:hover{
  color:#D01919;
  cursor:pointer;
}
.editIcon:hover{
 color:#008272;
 cursor:pointer;
}

.modal {
    div.error {
      color: #9f3a38;
    }
  }

.deleteIconModal{
  cursor: pointer;
  float: right;
}

.ui.compact.segment.custom {
  display: inline-block!important;
  margin-right: 8px;
  /* text-align: right; */
}
.rolesLables {margin-bottom:3px!important}

