// color definition
$black: #656565;
$blue: #003466;
$dark-blue:#154370;
$green: #43A48F;
$grey: #C5D9E8;


$koala-blue-light: #cee9ec;
$koala-blue-button: #5897AA;
$koala-green: #75BEA7;
$koala-yellow: #CFB957;
$koala-blue-dark: #315571;

$greyblue: #486577;
$greyblue2: #24353D;
$grey-light: #E2E5E6;
$grey-light2: #DADBDD;
$grey-middle: #BBBCBB;
$grey-dark: #636363;
$grey-dark2: #555655;
$beige-light: #E7E6E0;
$beige-dark: #9E9C98;
$yellow-middle: #faa62f;
$yellow-light: #DBCA47;
$green-light: #59D29D;
$eggplant: #32343C;
$eggplant-black: #393C45;
$eggplant-rose: #55303C;
$rose: #C1506C;
$rose2: #CE5051;
$terakot: #864031;
$purple-light: #7C93C7;


$yellowbook: #FFC423;
$headerGreen: #008272; 
// define other global things


