#root {
    width: 100%;
    min-height: 100%;
}

.app{
    width: inherit;
    height: inherit;   
}
.app > .ui.segment.pushable.mySidebar{
    margin:0!important;
    border: 0!important;
    border-radius: 0;
    background-color: #F3F2F0;
    min-height: calc(100vh - 47px);

    div.sidebar{background:  #273037;
        border-top:3px solid #DBCA47;
        font-size:16px;
    }
    div.pusher{
        background-color:#f1f1f1;
        min-height: inherit;
    }
    div.customSegment.Open{    
        width: calc(100% - 260px)!important;
        min-width:360px;
        transition: width 0.5s;
        //background-color: red;
    }

    div.customSegment.Closed{
        //background: yellow;
        width: 100%;
        min-width:360px;
        transition: width 0.5s;
    }
}

.menuStandard > i{
    float:right;
}

.bars.icon.toggleIcon{
    margin-bottom:5px;
    cursor: pointer;
}
 //.ui.segment{padding:0}
 /* .contentContainer{
  width: calc(100% - 260px);
 } */

.contentHeader{    
    height: auto;
    width: 100%;
    background-color: #fff;
    //color:#273037;
    color:#41648A;
    margin-bottom:30px;
    padding: 19px !important;
    font-size: 24px;
    //border-bottom: 2px solid #41648A;
    box-shadow: 4px 3px 6px #888888;
    i{
        margin-right:20px
    }

} 

.ui.modal>.header{
    background-color:#485865!important;
    color:#fff!important;
    text-transform: uppercase!important;
}

.rolesContainer{
    width:100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.roleGrid{
    //max-width: auto;
    margin: -60px 15px 0 15px;
    display:inline-block!important;
    //background: red;
    //max-width: 450px;
}
.rolesCard{
    margin:20px!important;
    background: #f7f7f7!important;
}

//Container width chnge because of big table
@media only screen and (min-width: 1200px){
    .ui.container {
        width: 1200px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}

// FOR THE CALENDAR...
.rbc-event {
    &.default-event {
        background: #008272 !important;
    }

    &.red {
        background: red !important;
    }
    
    &.blue {
        background: blue !important;
    }
    
    &.orange {
        background: orange !important;
    }
}
