#root {
    width: 100%;
    height: 100%;
}

.app{
    height: 100%;
}
.app > .ui.segment.pushable.mySidebar{
    //height: calc(100% - 73px);
    margin:0!important;
    border: 0!important;
    border-radius: 0;
    //background-color:#f1f1f1 ;
    background-color: #F3F2F0;

    div.sidebar{background:  #273037;
        border-top:3px solid #DBCA47;
        font-size:16px;
    }
    div.pusher{background-color:#f1f1f1}
    div.customSegment{padding:5px;}
}

.menuStandard > i{
    float:right;
}

.bars.icon.toggleIcon{
    margin-bottom:5px;
}
 //.ui.segment{padding:0}
 /* .contentContainer{
  width: calc(100% - 260px);
 } */

.contentHeader{    
    height: auto;
    width: 100%;
    background-color: #fff;
    //color:#273037;
    color:#41648A;
    margin-bottom:30px;
    padding: 19px !important;
    font-size: 24px;
    //border-bottom: 2px solid #41648A;
    box-shadow: 4px 3px 6px #888888;
    i{
        margin-right:20px
    }

} 

.ui.modal>.header{
    background-color:#485865!important;
    color:#fff!important;
    text-transform: uppercase!important;
}

