#root {
    width: 100%;
    height: 100%;
}

.app{
    height: 100%;
}
.app > .ui.segment.pushable.mySidebar{
    margin:0!important;
    border: 0!important;
    border-radius: 0;

    div.sidebar{background:  #273037;}
    div.pusher{background-color:#E4E4E4}
}


.ui.segment{padding:0}
.contentHeader{    
    height: 82px;
    width: 100%;
    background-color: #fff;
    color:#273037;
    padding: 30px!important;
}

