.big-calendar {
  .default-event {
    background: #008272 !important;
  }

  .red {
    background: #db2828 !important;
  }

  .blue {
    background: #2185D0 !important;
  }

  .orange {
    background: #F2711C !important;
  }
  .green {
    background: green !important;
  }
}
