.big-calendar {
  .default-event {
    background: #008272 !important;
  }

  .red {
    background: red !important;
  }

  .blue {
    background: blue !important;
  }

  .orange {
    background: orange !important;
  }
}
